<!DOCTYPE html>
<html>
   <head lang="en">
      <title>Clock</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
   </head>
   <body>
      <div>
         <div id="clock">
            <div id="unu">1</div>
            <div id="doi">2</div>
            <div id="trei">3</div>
            <div id="patru">4</div>
            <div id="cinci">5</div>
            <div id="sase">6</div>
            <div id="sapte">7</div>
            <div id="opt">8</div>
            <div id="noua">9</div>
            <div id="zece">10</div>
            <div id="unspe">11</div>
            <div id="doispe">12</div>
            <div id="center_circle"></div>
            <div id="test"></div>
         </div>
         <div id="secunde"></div>
         <div id="minute"></div>
         <div id="ore"></div>
         <form id="picker" name="picker" >
            Select time:
            <input id="time" name="times" type="time">
            <button type="submit">Set the time!</button>
         </form>
      </div>
      <script type="text/javascript" src="/scripts/app.js"></script>
   </body>
</html>